@import "tailwindcss";

@font-face {
  font-family: "font-primary";
  src: url("../public/fonts/CalSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "font-primary";
  src: url("../public/fonts/CalSans-Regular.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #050505;
  font-family: "font-primary", serif;
}

h1,
p {
  color: #fff;
}

p {
  font-family: "inter", sans-serif;
}

.red-secondary {
  color: #a40000;
}

.gray-secondary {
  color: #fff;
  opacity: 0.4;
}
