@import "tailwindcss";

@font-face {
  font-family: "font-primary";
  src: url("../public/fonts/CalSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "font-primary";
  src: url("../public/fonts/CalSans-Regular.woff") format("woff");
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

body {
  margin: 0;
  touch-action: pan-y;
  padding: 0;
  box-sizing: border-box;
  background-color: #050505;
  font-family: "font-primary", serif;
  color: #ffffff;

  overflow-x: hidden;
}

p {
  font-family: "inter", sans-serif;
}

.red-secondary {
  color: #a40000;
}

.gray-secondary {
  color: #fff;
  opacity: 0.4;
}

@keyframes swipe-up {
  0%,
  100% {
    transform: translateY(0);
    opacity: 0.9;
  }
  50% {
    transform: translateY(-16px); /* bigger movement for emphasis */
    opacity: 0.6;
  }
}

.animate-swipe-up {
  animation: swipe-up 2.2s ease-in-out infinite;
}
